h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    background-color: #1E252B;
}

.container {
    width: 1224px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ===================HEADER==================== */

.hero {
    background-image: url("./img/hero-bgi.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 116px;
    margin-top: 38px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.header-item a {
    display: flex;
    align-items: center;
}

.logo-text {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.header-nav {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.2s ease;
}

.header-nav:hover {
    color: rgb(255, 255, 255);
}

.header-nav:active {
    opacity: 0.8;
}

.header-buttom {
    color: rgba(255, 255, 255, 0.78);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 118px;
    height: 48px;
    transition: background-color 0.2s ease;
    border-radius: 8px;
}

.header-buttom:hover {
    color: #FDF5FF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    padding: 12px 28px;
    background: #FF6E30;
}

.header-buttom:active {
    opacity: 0.5;
}

.hero-title {
    width: 600px;
    margin-bottom: 30px;

    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

}

.hero-span {
    color: #FF6E30;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.hero-subtitle {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    margin-bottom: 60px;
    width: 487px;
}

.bunner-input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    background-color: #283036;
    padding-left: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 11px;
    margin-bottom: 121px;
}

.bunner-input-wrap::before {
    content: "";
    position: absolute;
    background-image: url('./img/search.png');
    width: 24px;
    height: 24px;
    display: block;
    top: 20px;
    left: 18px;
    background-color: transparent;
    color: #ffffff61;
}

.bunner-input {
    width: 70%;
    color: rgba(255, 255, 255, 0.38);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #283036;
    border: none;

    outline: none;
}

.bunner-btn {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;

    font-weight: 600;
    line-height: normal;
    padding: 12px 36px;
    border: none;
    border-radius: 8px;
    background-color: #ff6e30;
    transition: background-color 0.1s ease;
}

.bunner-btn:active{
    background-color: rgba(255, 110, 48, 0.5)
}

.social-media {
    display: flex;
    gap: 8px;
    margin-bottom: 200px;
}

.social-item {
    transition: background-color 0.2s ease;
    padding: 12px;
    border-radius: 8px;
}

.social-item:hover {
    background-color: rgba(255, 255, 255, 0.20);
}

.social-item:active {
    opacity: 0.8;
}

.tools {
    padding: 0;
}

.tools-title {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;

    align-items: center;
}

.tools-subtitle {
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

    margin-left: 387px;
    width: 427px;
    margin-bottom: 110px;
}

.tools-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    flex-wrap: wrap;

}



.tools-item {

    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    width: 392px;
    height: 294px;
}

.tools-item:hover {
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(25px);
    
    transform: translateY(-20px);
    background-color: rgba(40, 48, 54, 0.60);
    width: 392px;
    height: 294px;

    background-image: linear-gradient(to top right,
            rgba(255, 255, 255, 0.08),
            rgba(255, 255, 255, 0)),
        url(./img/eslip-svg.svg);
    background-repeat: no-repeat;
    background-position: top right;
}



.list-title {
    margin: 0;
    color: rgba(255, 255, 255, 0.78);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.list-subtitle {
    margin-top: 3px;
    margin-bottom: 0;

    color: rgba(255, 165, 55, 0.55);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-desc {
    width: 326px;
    margin: 0;

    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.tools-div {
    display: flex;
    flex-direction: column;
}

.tools-div-icon {
    display: flex;
    align-items: baseline;
    gap: 120px;
}

.tools-img {
    width: 64px;
    height: 64px;
    margin-bottom: 25px;
    margin-right: 30px;
}


.tools-icon-like {
    margin-top: 20px;
    padding: 7px;
}

.tools-icon-like {
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.tools-icon-like:hover {
    background-color: rgba(253, 59, 65, 1);
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
}

.tools-icon:not(:last-child) {
    margin-right: 25px;
}

.tools-icon-floader {
    margin-top: 20px;
    padding: 7px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.tools-icon-floader:hover {
    background: #242C32;
    color: #FDF5FF;
}

.tools-icon {
    border-radius: 8px;
    padding: 13px 35px 13px 35px;
    margin-right: 0;
    transition: background-color 0.2s ease;
}

.tools-icon:hover {
    background: #FF6E30;
    color: #FFF;
}

.tools-button-div {
    display: flex;
    justify-content: center;
    margin-top: 117px;
}

.tools-button {
    padding: 17px 38px;
    color: rgb(255, 110, 48);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: #1E252B;
    transition: background-color 0.07s ease;
}

.tools-button:hover{
    background-color: rgba(255, 110, 48, 0.3)
}

.tools-button:active{
    background-color: #FF6E30;
    color: #FFF
}